{% extends 'navigationbar.html' %}

{% block body %}
{% load static %}
<div class="container" style="margin-top:50px" >
<div class="bottom">
		<div>
        <font color="#000" size="6px"> Welcome to <mark>RK Hospital</mark> </font> <br> 
			<table border="0">
				<tr>
					<td width="700px">
						              <br>
                    <font color="red" size="5px">Mission:</font><br><br>
                    <font color="#000" size="4px"> The ‘well being’  ensured by extension of Available, Accessible, Affordable, Safe, Efficacious, Professional and Ethical comprehensive healthcare through state-of-art facilities. </font> <br>
                    <br>
                    <font color="red" size="5px">Vision:</font><br><br>
                    <font color="black" size="4px">Ensuring ‘well being’ as a humane commitment to enliven humanity.
                    </font><br>
                    </td>				
					<td style="padding-left:20px;"> <img src="{% static 'images/about.jpg' %}" height="350px" width="500px"></td>
                </td>				
                <tr>
                	
			</table>
		</div>
        <br>
       <font style="padding-left:250px;" color="#000" size="5px"> Best Medical & Health care Needs to Our Patients </font> <br>

</div>

<div class="nav_down" style="margin-top:50px">
		<div>
		 &copy; RK Hospital, site designed and developed by Shreyanshi Vadhvana, Chandni Thomar and Vansh Kamdar 
		</div>
</div>
{% endblock %}


	
