{% extends 'navigationbar.html' %}

{% load static %}
{% block body %}

<div class="container" style="margin-top:50px">
<h2 class="text-center">View Department</h2>
<br>
</div>

<table class="table table-hover demo" id="example">
    <thead>
    <tr>
        <th>S.No</th>
        <th>Dept Id</th>
        <th>Department Name</th>
        
    </tr>  
    </thead>
    <tbody>
    {% for i in dept%}
    <tr>
        <td>{{i.id}}</td>
        <td>{{i.dept_id}}</td>
        <td>{{i.dept_name}}</td>

    </tr>
    {% endfor %}


    </tbody>
</table>


{% endblock %}